Microtasca 4/restaurant.dtd

<!ELEMENT restaurant (plat*, menu*)>

<!ELEMENT plat (codi, nom, preu, descripcio?, alergens?, tipus)>
<!ELEMENT codi (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT preu (#PCDATA)>
<!ELEMENT descripcio (#PCDATA)>
<!ELEMENT alergens (#PCDATA)>
<!ELEMENT tipus (#PCDATA)>


<!ELEMENT menu (plat_menu+)>

<!ELEMENT plat_menu (nom_plat, tipus_plat, descripcio_plat?)>
<!ELEMENT nom_plat (#PCDATA)>
<!ELEMENT tipus_plat (#PCDATA)>
<!ELEMENT descripcio_plat (#PCDATA)>